@font-face {
    font-family: 'texgyreadventor';
    src: url('./texgyreadventor-bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'texgyreadventor';
    src: url('./texgyreadventor-regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}